@use '~styles/colors.scss' as c;

.root {
    height: 100vh;
    width: 100%;
    background-color: c.color('background');
    color: c.color('text');
}

// Places elements on top of each other
.converge-layer {
    position: absolute;
    top: 0;
    left: 0;
}

// The order of the individual layers being display
.layer-1 {
    z-index: 1;
}
.layer-2 {
    z-index: 2;
}
