@use './spacing.scss' as s;
@use './colors.scss' as c;

$border-radii: (
    'default': s.spacing(1),
    'button': s.spacing(0.5),
    'input': s.spacing(0.5),
    'card': s.spacing(1),
    'popper': s.spacing(1),
);

@function border-radius($b: 'default') {
    @return map-get($border-radii, $b);
}

$border: (
    'button': (
        border-color: c.color('shaded'),
        border-width: 1px,
        border-style: solid,
    ),
    'card': (
        border-color: c.color('tinted'),
        border-width: 1px,
        border-style: solid,
    ),
);
