$breakpoints: (
    'xs': (
        min-width: 360px,
    ),
    'sm': (
        min-width: 600px,
    ),
    'md': (
        min-width: 900px,
    ),
    'lg': (
        min-width: 1200px,
    ),
    'xl': (
        min-width: 1536px,
    ),
);

@function breakpoint($bp: 'md') {
    @return inspect(map-get($breakpoints, $bp));
}

@mixin xs {
    @media #{breakpoint('xs')} {
        @content;
    }
}
@mixin sm {
    @media #{breakpoint('sm')} {
        @content;
    }
}
@mixin md {
    @media #{breakpoint('md')} {
        @content;
    }
}
@mixin lg {
    @media #{breakpoint('lg')} {
        @content;
    }
}
@mixin xl {
    @media #{breakpoint('xl')} {
        @content;
    }
}
