@use 'breakpoints.scss' as br;

$font-family: 'Blinker', sans-serif;

@mixin h1 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    @include br.md {
        font-size: 4.5rem;
    }
}
@mixin h2 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 2rem;
    text-transform: none;
    text-decoration: none;
    @include br.md {
        font-size: 2.25rem;
    }
}
@mixin h3 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: none;
    text-decoration: none;
    @include br.md {
        font-size: 1.5rem;
    }
}
@mixin h4 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.25rem;
    text-transform: none;
    text-decoration: none;
    @include br.md {
        font-size: 1.5rem;
    }
}
@mixin h5 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.15rem;
    text-transform: uppercase;
    text-decoration: none;
    @include br.md {
        font-size: 1.25rem;
    }
}
@mixin h6 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1rem;
    text-transform: none;
    text-decoration: none;
    @include br.md {
        font-size: 1.125rem;
    }
}
@mixin body1 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: none;
    text-decoration: none;
}
@mixin body2 {
    font-family: $font-family;
    font-weight: 50000;
    font-size: 0.625rem;
    text-transform: uppercase;
    text-decoration: none;
}
@mixin input {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1rem;
    text-transform: none;
    text-decoration: none;
}
@mixin title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 2rem;
    text-transform: none;
    text-decoration: none;
    @include br.md {
        font-size: 2.25rem;
    }
}
@mixin button {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    @include br.md {
        font-size: 1.125rem;
    }
}
